.completedItemsHeader {
  font-size: 20px;
}

h3 {
  margin-block-end: 10px;
}

.clearCompleted {
  width: 65px;
  height: 32px;
  font-size: 17px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  background-color: white;
  color: rgb(221, 94, 94);
  float: right;
  cursor: pointer;
}

.invisible {
  opacity: 0;
}

.completedSectionContainer {
  transition-property: all;
  transition-duration: 0.5s;
}