body {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin: 0;
  margin-bottom: 70px;
}

.titleHeaderRow {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 1fr;
  justify-items: left;
}

.pageContent {
  display: grid;
  padding-left: 15px;
  padding-right: 15px;
}

.noTasksPlaceholder {
  font-size: 16px;
  background-color: rgb(243, 243, 243);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: underline;
  border: none;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.sortByText {
  font-size: 14px;
  display: inline;
  color: rgb(119, 119, 119);
}

.errorText {
  color: rgb(231, 82, 82);
  font-weight: bold;
}

.backButton {
  grid-row: 1;
  grid-column: 1;
  border: none;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: rgb(243, 243, 243);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  height: 40px;
  margin-top: 38px;
  margin-left: 18px;
  cursor: pointer;
}

.titleHeader {
  grid-row: 1;
  grid-column: 2;
  padding-left: 20px;
}

.titleHeader > h2 {
  margin-block-end: 10px;
  text-align: left;
  font-size: 40px;
}

.noTopMargin {
  margin-top: -20px;
}

.pageColumnsDiv {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

.listSelector {
  background-color: rgb(250, 250, 250);
  border-right: 1px solid rgb(235, 235, 235);
}

.sharingButton {
  float: right;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 65px;
  height: 32px;
  font-size: 17px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  background-color: white;
  color: rgb(104, 104, 104);
  cursor: pointer;
}

.authPanelContainerTaskView {
  grid-column: 3;
  grid-row: 1;
  margin-top: 30px;
}