.addItem {
  background-color: #414141;
  position: fixed;
  border: none;
  color: white;
  cursor: pointer;
}

.addItem:disabled {
  background-color: gray;
}

.addItemNarrow {
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
  font-size: 22px;
  font-family: 'Roboto Slab';
  font-weight: bold;
  bottom: 0;
}

.addItemWide {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
}