#addItemFooter {
  position: fixed;
  bottom: 0;
  background-color: rgb(49, 49, 209);
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 16px;
  font-size: 22px;
  color: white;
  border: none;
  font-family: 'Roboto Slab';
  font-weight: bold;
}

#addItemFooter:disabled {
  background-color: gray;
  color: white;
}