.optionSelector {
  border: none;
  font-family: 'Roboto Slab';
  width: 80px;
  margin-bottom: 10px;
  font-size: 14px;
  display: inline;
  background-color: white;
}

.optionSelector:focus {
  outline: 0;
}